
.DGXColorMixer_main { 
  position: relative; 
  background: url('../images/colormixer/dgxmixer-bg.png'); 
  width: 341px; height: 341px; 
  display: none;
  border: 1px solid black;
}

.DGXColorMixer_box { 
  position: absolute; 
  left: 8px; top: 7px; 
  width: 258px; height: 258px; 
  widt\h: 256px; heigh\t: 256px; 
  border: 1px solid black;
  background: url('../images/colormixer/dgxmixer-mask.png'); 
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/colormixer/dgxmixer-mask.png', sizingMethod='scale');
  _background-image: none;
}

.DGXColorMixer_gradient { 
  position: absolute; 
  left: 294px; top: 7px; 
  width: 34px; height: 319px; 
  widt\h: 32px; heigh\t: 317px; 
  border: 1px solid black;
  background: url('../images/colormixer/dgxmixer-gradient.png'); 
}

.DGXColorMixer_slider {
  position: absolute; 
  left: -4px; 
  width: 40px; height: 5px; 
  background: url('../images/colormixer/dgxmixer-slider.png') no-repeat;
}

.DGXColorMixer_crosshair { 
  position: absolute; 
  width: 14px; height: 14px; 
  background: url('../images/colormixer/dgxmixer-crosshair.png') no-repeat;
}

.DGXColorMixer_color {
  position: absolute; 
  left: 8px; top: 292px;
  width: 258px; height: 34px; 
  text-align: right;
}

.DGXColorMixer_okbutton {
  height: 100%; 
  display: none;
  margin: 0;
  padding: 0;
}

button.colormixer {
  background: url('../images/colormixer/button.png') no-repeat #E2E2E2 center center;
  width: 20px;
  height: 18px;
  _cursor: hand; /* for IE6 */
  cursor: pointer;
  vertical-align: top;
  margin:0px;
}