{layout '../@layout.latte'}

{block content}
<link href="{$cssDir}default.css" rel="stylesheet" type="text/css" />

<div class='siteContentRibbon'>Správa účastníků</div>

{foreach $flashes as $flash}
<div class="flash {$flash->type}">{$flash->message}</div>
{/foreach}

<div class='pageRibbon'>{$heading}</div>

{control visitorForm}
