<div class='button-line'>
	<button type='submit' onClick=\"this.form.submit()\">
		<img src='{$imgDir}icons/save.png' /> Uložit
	</button>
	<button type='button' onclick="window.location.replace('/srazvs/meeting')">
		<img src='{$imgDir}icons/storno.png'  /> Storno
	</button>
</div>
