{layout '../@layout.latte'}

{block content}
<div class='siteContentRibbon'>Správa srazů</div>

{foreach $flashes as $flash}
<div class="flash {$flash->type}">{$flash->message}</div>
{/foreach}

<div class='pageRibbon'>úprava srazu</div>

{include 'edit-form.latte'}
