# This file is for unifying the coding style for different editors and IDEs
# editorconfig.org

# top-most EditorConfig file
root = true

# Global
# UTF-8, Unix-style newlines, newline ending every file, trim trailing whitespace
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.php, *.css, *.tpl, *.html, *.js]
indent_style = tab
indent_size = 4

# package.json uses spaces instead of tabs
[*.json]
indent_style = space
indent_size = 2

# nette configuration files
[*.neon]
indent_style = space
indent_size = 4
