!.*
!*/.*
*dwsync.xml
*deprecated*
*.sublime-*
*.sln
*.suo
*.json
_compareTemp
*.svn
.phpintel
composer.phar
deployment.*

# Configuration
inc/config.inc.php
app/config/config.neon

# Libraries
libs
vendor
node_modules

# Temporary files
temp
tests/*/output
