!.*
!*/.*
*dwsync.xml
*deprecated*
*.sublime-*
*.sln
*.suo
*.json
_compareTemp
*.svn
.phpintel
.idea
composer.phar
deployment.*
npm-debug.log

# Configuration
inc/config.inc.php
app/config/config.production.neon
app/config/config.yml

# Libraries
libs
vendor
node_modules
bower_components

# Temporary files
temp
tests/**/output

tests/_output/*
tests/_support/_generated/*
tests/**/*.html
