!.*
!*/.*
*dwsync.xml
*deprecated*
*.sublime-*
*.sln
*.suo
*.json
_compareTemp
*.svn
.phpintel
.idea
composer.phar
deployment.*
npm-debug.log
*.map
.php_cs.cache
*.log

# Configuration
inc/config.inc.php
app/config/config.production.neon
app/config/config.yml

# Libraries
libs
vendor
node_modules
bower_components
www/js/main.*.js
www/js/vendor.*.js
www/css/main.*.css

# Temporary files
temp
tests/**/output
www/images/logo.*.png
www/images/select2.*.png
www/images/select2-spinner.*.gif
www/images/select2x2.*.png

tests/_output/*
tests/_support/_generated/*
tests/**/*.html
