parameters:
    autoload_directories:
        - %rootDir%/../../../app
    includes:
        - vendor/phpstan/phpstan-nette/extension.neon
        - vendor/phpstan/phpstan-nette/rules.neon
    ignoreErrors:
        - '#[a-zA-Z0-9\\_]+::__construct\(\) does not call parent constructor from [a-zA-Z0-9\\_]+.#'