/*---------------------------------------------------------------------------------------------------------
		CONTENT:
				
			1/ General content
			2/ Forms
			3/ Tables
			4/ Copyright
---------------------------------------------------------------------------------------------------------*/
  
/*---------------------------------------------------------------------------------------------------------
		1) General content
---------------------------------------------------------------------------------------------------------*/

body {
	text-align:center;
	background-color:#ffffff;
	font-family: Cambria, Georgia, serif;
	font-size:14px;
}

#content {
	width:400px;	
	margin: 0 auto;
}

/*---------------------------------------------------------------------------------------------------------
		2) Forms
---------------------------------------------------------------------------------------------------------*/

fieldset{
	text-align:center;
	padding:10px;
}

legend {
	font-weight:bold;
	color:#444444;
}

label {
	float:left;
	width:150px;
	font-weight:bold;
	text-align:left;
}

.button {
	margin-top:15px;
	width:100px;
}

/*---------------------------------------------------------------------------------------------------------
		3) Tables
---------------------------------------------------------------------------------------------------------*/

table {
	width:100%;
 	border-collapse:separate;
 	text-align:center;
 	vertical-align:top;
	border: 1px solid black;
}

th {
	border: 1px solid black;
	color:white;
	background:black;
}

td {
 	text-align:center;
 	border: 1px solid black;
	height:10px;
}

/*---------------------------------------------------------------------------------------------------------
		4) Copyright
---------------------------------------------------------------------------------------------------------*/

.copyright {
	margin-top:20px;
	font-size:12px;
}