parameters:
    database:
        driver: mysql
        host: localhost
        name: vodni
        user: vodni
        password: vodni
    cacheDir: D:\home\literat\work\skauting\vodni\srazvs/temp/cache

services:
    mail.mailer:
        class: Nette\Mail\SendmailMailer
    cacheStorage:
        class: Nette\Caching\Storages\DevNullStorage


skautis:
    applicationId : f6b25658-2944-463c-ae99-229ec56a0326
    testMode : true #using http://test-is.skautis.cz/
    profiler : true

extensions:
