parameters:
    pdf:
        encoding: utf-8
        paperFormat: A4
        fontSize: 0
        font: null
        marginLeft: 15
        marginRight: 15
        marginTop: 16
        marginBottom: 16
        debugMode: %debugMode%
    excel:
        creator: 'Junák - český skaut, Kapitanát vodních skautů, z. s.'
        lastModifiedBy: 'Srazy VS'
        title: 'Srazy VS: Export'
        subject: Export
        description: 'Srazy VS CMS: export dat'
        keywords: 'sraz vs export xlsx'
        category: 'Export dat'
    encoding: utf-8
    prefix: sunlight

session:
    autoStart: smart
    expiration: 1 day
    savePath: '%tempDir%/session'

services:
    connection:
        class: Nette\Database\Connection
        arguments: [
            '%database.driver%:host=%database.host%;dbname=%database.dbname%',
            %database.user%,
            %database.password%
        ]
    cacheStorage:
        class: Nette\Caching\Storages\FileStorage
        arguments: [
            %cacheDir%
        ]
    structure:
        class: Nette\Database\Structure
        arguments: [
            @connection,
            @cacheStorage
        ]
    database:
        class: Nette\Database\Context
        arguments: [
            @connection,
            @structure
        ]
    settings:
        class: App\SettingsModel
        arguments: [
            @database
        ]
    emailer:
        class: App\Emailer
        arguments: [
            @settings,
            @imailer
        ]
    pdffactory:
        class: App\PdfFactory
        arguments: [
            %pdf%
        ]
    excelfactory:
        class: App\ExcelFactory
        arguments: [
            %excel%
        ]
    exports:
        class: App\ExportModel
        arguments: [
            @database,
            @category,
            %debugMode%
        ]
    category:
        class: App\CategoryModel
        arguments: [
            @database
        ]
    block:
        class: App\BlockModel
        arguments: [
            @database
        ]
    program:
        class: App\ProgramModel
        arguments: [
            @database
        ]
    meal:
        class: App\MealModel
        arguments: [
            @database
        ]
    meeting:
        class: App\MeetingModel
        arguments: [
            @database,
            @program
        ]
    visitor:
        class: App\VisitorModel
        arguments: [
            @meeting,
            @meal,
            @program,
            @block,
            @database
        ]
    authService:
        class: AuthService
    userService:
        class: UserService
    eventService:
        class: EventService

extensions:
    skautis: Skautis\Nette\SkautisExtension