parameters:
    database:
        driver: mysql
        host: localhost
        dbname: vodni
        user: root
        password: root
    cacheDir: D:\home\literat\web\wwwroot\skauting\vodni\srazvs/temp/cache

services:
    imailer:
        class: Nette\Mail\SendmailMailer
