parameters:
    pdf:
        encoding: utf-8
        paperFormat: A4
        fontSize: 0
        font: null
        marginLeft: 15
        marginRight: 15
        marginTop: 16
        marginBottom: 16
        debugMode: %debugMode%
    excel:
        creator: 'Junák - český skaut, Kapitanát vodních skautů, z. s.'
        lastModifiedBy: 'Srazy VS'
        title: 'Srazy VS: Export'
        subject: Export
        description: 'Srazy VS CMS: export dat'
        keywords: 'sraz vs export xlsx'
        category: 'Export dat'
    encoding: utf-8
    prefix: sunlight
    mail:
        senderName: 'Srazy VS'
        senderAddress: srazyvs@hkvs.cz

application:
    errorPresenter: Error
    mapping:
        *: App\*Module\Presenters\*Presenter
    debugger: true
    catchExceptions: false

database:
    dsn: '%database.driver%:host=%database.host%;dbname=%database.name%'
    user: %database.user%
    password: %database.password%
    options:
        lazy: yes
    debugger: true
    explain: true
    autowired: true

session:
    autoStart: smart
    expiration: 1 day
    savePath: '%tempDir%/session'

services:
    database: @Nette\Database\Connection
    mail.mailer:
        class: Nette\Mail\SendmailMailer
    - App\Routers\RouterFactory
    router: @App\Routers\RouterFactory::createRouter
    nette.latteFactory:
        setup:
            - addFilter(invoiceNumber, @invoiceFilter)
            - addFilter(number2word, @number2wordFilter)
    invoiceFilter: App\Services\Filters\InvoiceFilter
    number2wordFilter: App\Services\Filters\Number2WordFilter

    cacheStorage:
        class: Nette\Caching\Storages\FileStorage
        arguments: [
            %cacheDir%
        ]
    pdffactory:
        class: App\Factories\PdfFactory
        arguments: [
            %pdf%
        ]
    excelfactory:
        class: App\Factories\ExcelFactory
        arguments: [
            %excel%
        ]
    - App\Services\AuthService
    - App\Services\UserService
    category: App\Models\CategoryModel
    meeting: App\Models\MeetingModel
    program: App\Models\ProgramModel
    block: App\Models\BlockModel
    sunlight: App\Models\SunlightModel
    emailer: App\Services\Emailer
    settings: App\Models\SettingsModel
    cache: Nette\Caching\Cache
    export: App\Models\ExportModel
    visitor: App\Models\VisitorModel
    meal: App\Models\MealModel
    province: App\Models\ProvinceModel
    - App\Components\ProgramOverviewControl
    - App\Components\BlocksByDayControl
    - App\Components\ProgramsControl
    - App\Components\RegistrationGraphControl
    - App\Components\MaterialsControl
    - App\Components\MealControl
    - App\Services\VisitorService
    - App\Forms\Factories\IRegistrationFormFactory

extensions:
    skautis: Skautis\Nette\SkautisExtension
