{layout '../@layout.latte'}

{block content}
<div class='siteContentRibbon'>Správa programů</div>

{foreach $flashes as $flash}
<div class="flash {$flash->type}">{$flash->message}</div>
{/foreach}

<div class='pageRibbon'>{$heading}</div>

{control programForm}
