<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="dns-prefetch" href="//fonts.googleapis.com" />
	<link rel="dns-prefetch" href="//themes.googleusercontent.com" />
	<link rel="dns-prefetch" href="https://www.google-analytics.com" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title>Sraz VS | Registrace</title>
	<meta name="description" content="Registrace na sraz vs" />
	<meta name="author" content="Tomas Litera <tomas@litera.me>" />

	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Titillium+Web:400,300,700&amp;subset=latin,latin-ext" type="text/css" />
	<link rel="stylesheet" href="{$basePath}/www/css/bootstrap-ui.min.css" />
	<link rel="stylesheet" href="{$basePath}/www/css/custom.css?v{php echo appVersion()}" />
	<script type="text/javascript" src="{$basePath}/www/js/jquery.min.js?v2.2.4"></script>

</head>

<body class="site has-navbar-static-top">

	<header role="banner" id="top" class="site-header">

	<!-- Main navigation -->
	<nav class="navbar navbar-static-top navbar-primary">
		<div class="container">

			<!-- Brand and menu toggle -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainMenu">
					<span class="sr-only">Menu</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="/orders/new" class="navbar-brand offset-right-large">
					<span class="logo"></span>
					<span class="visible-xs visible-md visible-lg text-bold text-letterspacing heading">Sraz VS | Registrace</span>
					<span class="visible-sm heading" aria-hidden="true">Sraz VS</span>
				</a>
			</div>

			<!-- Collapsible menu -->
			<div class="collapse navbar-collapse" id="mainMenu">

				{* <ul class="nav navbar-nav">
					<li>
						<a href="/orders/new">
							<span class="glyphicon glyphicon-inbox offset-right" aria-hidden="true"></span>
							<span class="hidden-sm">Orders</span>
						</a>
					</li>
					<li class="active">
						<a href="/pages">
							<span class="glyphicon glyphicon-align-left offset-right" aria-hidden="true"></span>
							<span class="hidden-sm">Pages</span>
						</a>
					</li>
				</ul> *}

				{* <ul class="nav navbar-nav navbar-right">
					<li class="navbar-icon">
						<a href="#" target="_blank" title="Open in new tab">
							<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
							<span class="visible-xs">Home</span>
						</a>
					</li>
					<li class="navbar-icon">
						<a href="#" title="Settings">
							<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
							<span class="visible-xs">Settings</span>
						</a>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" title="My account">
							<span class="glyphicon glyphicon-user offset-right" aria-hidden="true"></span>
							<span class="visible-xs">My account</span>
							<span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
						</a>
						<ul class="dropdown-menu">
							<li class="dropdown-header">James Brown</li>
							<li class="divider"></li>
							<li>
								<a href="/">
									<span class="glyphicon glyphicon-off offset-right icon-shift-down" aria-hidden="true"></span>
									Sign out
								</a>
							</li>
						</ul>
					</li><!-- .dropdown -->
				</ul><!-- .nav --> *}

			</div><!-- .collapsible -->

		</div><!-- .container -->
	</nav>

</header>
