<!DOCTYPE html PUBLIC "-//W3C//Dtd XHTML 1.0 Transitional//EN" "http://www.w3.org/tr/xhtml1/Dtd/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta charset="UTF-8" />
	<title>Srazy VS | CodePlex::admin</title>
	<link href='{$cssDir}default.css' rel='stylesheet' type='text/css' />
	<link href='{$cssDir}help.css' rel='stylesheet' type='text/css' />
	<link rel="stylesheet" href="{$cssDir}tablesorter.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="{$cssDir}smoothness/jquery.ui.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="{$cssDir}dgxcolormixer_s.css" type="text/css" media="screen,projection,tv" />
	<script src='{$jsDir}function.js' type='text/javascript'></script>
	<script src='{$jsDir}jquery/jquery.min.js' type='text/javascript'></script>
	<link href='../../srazvs/inc/favicon.ico' rel='shortcut icon' />
	<meta http-equiv='Content-Language' content='cs' />
	<meta http-equiv='Cache-Control' content='private, no-cache' />
	<meta name='robots' content='index' />
	<meta name='description' content='administrační systém pro Srazy VS' />
	<meta name='keywords' lang='cs' content='plexis, administrace, cms' />
	<meta name='robots' content='all' />
	<meta name='author' content='LITERA Tomáš(slunda); tomaslitera(zavinac)outlook(tecka)com' />
	<meta name='copyright' content="(C) 2001 - {php date('Y')}, Litera Tomáš, Praha" />
	<style type="text/css">
	{cache 'categories:all', expire => '10 minutes', tags => ['categories:all']}
	{foreach $categories as $id => $category}
		.cat-{$category->style} {
			border: 2px solid #{$category->bocolor};
			background-color: #{$category->bgcolor};
			color: #{$category->focolor};
		}
	{/foreach}
	{/cache}
	</style>
</head>
